body {
    margin: 0;
    font-family: sans-serif !important;
}

.wrapper {
    background-color: #F0F2F5;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F0F2F5;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: silver;
}

::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-track {
    width: 10px;
}

/* Header */
.wrapper .header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

/* Header Left */
.wrapper .header .header-left {
    width: 23.5%;
    display: flex;
    align-items: center;
}

.wrapper .header .header-left .icon-fb {
    margin-left: 5px;
}

.wrapper .header .header-left .search {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 11px 31px;
    margin-left: 5px;
    border-radius: 999px;
}

.wrapper .header .header-left .search .icon-search {
    position: absolute;
    left: 11px;
    top: 11px;
}

.wrapper .header .header-left .search .icon-search object {
    width: 18px;
    height: 18px;
}

.wrapper .header .header-left .search .icon-search object svg {
    fill: #606770 !important;
}

.wrapper .header .header-left .search input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.wrapper .header .header-left .search input::placeholder {
    font-size: 14px;
    color: #606770;
}

/* Header Middle */
.wrapper .header .header-middle {
    width: 53%;
    display: flex;
    flex: 1;
    justify-content: center;
}

.wrapper .header .header-middle .main-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0px 5px;
}

.wrapper .header .header-middle .main-menu .text,
.wrapper .header .header-right .right-menu .text {
    visibility: hidden;
    background-color: #616366;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    font-size: 13px;
    top: 105%;
}

.wrapper .header .header-middle .main-menu .text-home {
    left: 27.5%;
}

.wrapper .header .header-middle .main-menu .text-watch {
    left: 38.2%;
}

.wrapper .header .header-middle .main-menu .text-market {
    left: 47%;
}

.wrapper .header .header-middle .main-menu .text-group {
    left: 58%;
}

.wrapper .header .header-middle .main-menu .text-game {
    left: 67.6%;
}

.wrapper .header .header-right .right-menu .text-menu {
    right: 10.4%;
}

.wrapper .header .header-right .right-menu .text-mess {
    right: 5.5%;
}

.wrapper .header .header-right .right-menu .text-noti {
    right: 2%;
}

.wrapper .header .header-right .right-menu .text-info {
    right: 0.2%;
}

.wrapper .header .header-middle #home-page:hover .text-home,
.wrapper .header .header-middle #watch-page:hover .text-watch,
.wrapper .header .header-middle #market-page:hover .text-market,
.wrapper .header .header-middle #group-page:hover .text-group,
.wrapper .header .header-middle #game-page:hover .text-game,
.wrapper .header .header-right #menu-page:hover .text-menu,
.wrapper .header .header-right #mess-page:hover .text-mess,
.wrapper .header .header-right #noti-page:hover .text-noti,
.wrapper .header .header-right #info-page:hover .text-info {
    visibility: visible;
}

.wrapper .header .header-middle .main-menu a {
    color: #606770;
    padding: 11px 52px;
}

.wrapper .header .header-middle .main-menu a:hover {
    border-radius: 7px;
    background-color: #e4e6eb;
}

.wrapper .header .header-middle .main-menu .affter-active {
    display: none;
}

.wrapper .header .header-middle .active {
    border-bottom: 3px solid #1877F2;
}

.wrapper .header .header-middle .active a {
    color: #1877F2;
}

.wrapper .header .header-middle .active a:hover {
    background-color: white;
}

.wrapper .header .header-middle .active .before-active {
    display: none;
}

.wrapper .header .header-middle .active .affter-active {
    display: block;
}

/* Header Right */
.wrapper .header .header-right {
    width: 23.5%;
    display: flex;
    justify-content: end;
}

.wrapper .header .header-right .right-menu {
    padding: 7px 5px;
}

.wrapper .header .header-right .right-menu:hover {
    cursor: pointer;
}

.wrapper .header .header-right .right-menu .icon-right {
    border-radius: 50%;
    padding: 7px 10px;
    background-color: #e4e6eb;
}

.wrapper .header .header-right .right-menu .icon-right:hover {
    background-color: #dadbdd;
}

.wrapper .header .header-right .active {
    color: #1877F2;
}

.wrapper .header .header-right .active .icon-right {
    background-color: #e5f1fd;
}

/* Content */
.wrapper .content {
    display: flex;
    justify-content: center;
}

/* Content-left */
.wrapper .content .content-left {
    width: 23.5%;
    height:769px;
    overflow: hidden;
    position: fixed;
    left: 0;
}

.wrapper .content .content-left:hover {
    overflow-y: scroll;
}

.wrapper .content .content-left .access ul,
.wrapper .content .content-left .shortcuts ul {
    list-style: none;
    padding: 10px 8px;
    margin: 0;
}

.wrapper .content .content-left .access ul li,
.wrapper .content .content-left .shortcuts ul li {
    display: flex;
    padding: 11px 7px;
    font-weight: 500;
    font-size: 15px;
    word-wrap: break-word;
    width: 100%;
}

.wrapper .content .content-left .access ul li:hover,
.wrapper .content .content-left .shortcuts ul li:hover {
    cursor: pointer;
    background-color: #e4e6eb;
    border-radius: 10px;
}

.wrapper .content .content-left .access ul li .title,
.wrapper .content .content-left .shortcuts ul li .title {
    padding: 3px 13px;
}

.wrapper .content .content-left .access ul li .arrow,
.wrapper .content .content-left .shortcuts ul li .arrow {
    background-color: #e4e6eb;
    padding: 4px 8px;
    border-radius: 50%;
}

.wrapper .content .content-left .access ul .border-access {
    border-bottom: 1px solid silver;
    padding: 5px 0px;
}

.wrapper .content .content-left .access ul .border-access:hover {
    cursor: none;
    background-color: #F0F2F5;
    border-radius: 0px;
}


.wrapper .content .content-left .access ul .access-more,
.wrapper .content .content-left .access ul #btn-less {
    display: none;
}

.wrapper .content .content-left .access ul .access-more.active {
    display: flex;
}

.wrapper .content .content-left .shortcuts .name-tag {
    display: flex;
    justify-content: space-between;
}

.wrapper .content .content-left .shortcuts .name-tag h3 {
    padding-left: 15px;
    margin: 0;
    font-size: 1.0625rem;
    color: #65676b;
    font-weight: 600;
    padding: 10px 15px;
}

.wrapper .content .content-left .shortcuts .name-tag a {
    padding: 10px 10px;
    text-decoration: none;
    color: #1877F2;
    display: none;
}

.wrapper .content .content-left .shortcuts .name-tag a:hover {
    background-color: #e4e6eb;
    border-radius: 5px;
}

.wrapper .content .content-left .shortcuts ul li img {
    border-radius: 5px;
}

/* Footer */

.wrapper .content .content-left .footer {
    padding: 0 15px;
}

.wrapper .content .content-left .footer ul {
    display: inline;
    list-style: none;
    font-size: .8125rem;
    color: #65676b;
    padding: 0;
}

.wrapper .content .content-left .footer ul li {
    display: inline;
    color: #65676b;
}

.wrapper .content .content-left .footer ul li a {
    color: #65676b;
    text-decoration: none;
}

.wrapper .content .content-left .footer ul li:hover {
    cursor: pointer;
}

.wrapper .content .content-left .footer ul li a:hover {
    text-decoration: underline;
}

/* Content Middle */
.wrapper .content .content-middle {
    width: 53%;
}

.wrapper .content .content-middle .feed {
    display: flex;
    margin: auto;
    padding: 20px 25px;
    justify-content: center;
}

.wrapper .content .content-middle .feed .card {
    background-color: #fff;
    margin: 0 5px;
    width: 16.6%;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 8px -9px rgb(0 0 0 / 75%);
}

.wrapper .content .content-middle .feed .card img {
    width: 100%;
    height: 140px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}

.wrapper .content .content-middle .feed .card .text {
    text-align: center;
    padding: 14px;
    font-size: 13px;
    font-weight: 600;
    padding-top: 19px;
    padding-bottom: 9px;
}

.wrapper .content .content-middle .feed .card .icon-plus {
    position: absolute;
    border: 4px solid;
    border-radius: 50%;
    padding: 5px 10px;
    background-color: #1877F2;
    border-color: white;
    top: 64%;
    left: 32.5%;
    color: white;
}

.wrapper .content .content-middle .feed .card:hover {
    cursor: pointer;
    opacity: 0.8;
}

.wrapper .content .content-middle .feed .card-friends img {
    height: 189px;
    border-radius: 10px;
}

.wrapper .content .content-middle .feed .card-friends .mini-avatar {
    position: absolute;
    top: 10%;
    left: 10%;
}

.wrapper .content .content-middle .feed .card-friends .mini-avatar img {
    width: 28px;
    height: 28px;
    border: 5px solid #1877F2;
    border-radius: 50%;
}

.wrapper .content .content-middle .feed .card-friends .name {
    position: absolute;
    color: white;
    font-size: 15px;
    font-weight: 700;
    top: 80%;
    left: 10%;
}

.wrapper .content .content-middle .feed .next {
    position: absolute;
    border: 1px solid silver;
    color: #65676b;
    border-radius: 50%;
    padding: 10px 10px;
    background-color: white;
    top: 18%;
    left: 73.1%;
}

.wrapper .content .content-middle .feed .next:hover {
    cursor: pointer;
}

.wrapper .content .content-middle .feed #text-next {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    font-size: 13px;
    top: 23%;
    left: 71%;
    opacity: 0.8;
}

.wrapper .content .content-middle .create {
    margin: auto;
    padding: 0px 25px;
}

.wrapper .content .content-middle .create .text {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    padding: 15px;
}

.wrapper .content .content-middle .create .text img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.wrapper .content .content-middle .create .text img:hover {
    cursor: pointer;
}

.wrapper .content .content-middle .create .text .btn {
    border-radius: 20px;
    background-color: #e4e6eb;
    padding: 11px 22px;
    width: 100%;
    color: #65676b;
}

.wrapper .content .content-middle .create .text .btn:hover {
    cursor: pointer;
    background-color: silver;
}

.wrapper .content .content-middle .create .option {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 16px;
    box-shadow: 0 5px 8px -9px rgb(0 0 0 / 75%);
}

.wrapper .content .content-middle .create .option .btn-option {
    border-top: 1px solid silver;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

.wrapper .content .content-middle .create .option .btn-option .button {
    display: flex;
    padding: 10px 43px;
}

.wrapper .content .content-middle .create .option .btn-option .button:hover {
    cursor: pointer;
    background-color: #e4e6eb;
    border-radius: 10px;
}

.wrapper .content .content-middle .create .option .btn-option .button svg{
    width: 24px;
    height: 24px;
}

.wrapper .content .content-middle .create .option .btn-option .btn-stream svg {
    fill: #f3425f;
}
.wrapper .content .content-middle .create .option .btn-option .btn-images svg {
    fill: #45bd62;
}
.wrapper .content .content-middle .create .option .btn-option .btn-reaction svg {
    fill: #f7b928;
}

.wrapper .content .content-middle .create .option .btn-option .title {
    color: #65676b;
    padding: 3px 2px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 5px;
}

.wrapper .content .content-middle .room .btn-room .icon-room {
    background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/ym/r/5zaboDASSye.png');
    background-position:0 -219px;
    background-size:auto;
    width:24px;
    height:24px;
    background-repeat:no-repeat;
    display:inline-block;
}

.wrapper .content .content-middle .room {
    padding: 20px 25px;
    padding-bottom: 0px;
}

.wrapper .content .content-middle .room .container {
    background-color: white;
    box-shadow: 0 5px 8px -9px rgb(0 0 0 / 75%);
    border-radius: 10px;
    display: flex;
    padding: 10px 20px;
}

.wrapper .content .content-middle .room .container .btn-room {
    display: flex;
    border: 2px solid #e7f3ff;
    border-radius: 20px;
    padding: 8px 12px;
}

.wrapper .content .content-middle .room .container .room-arrow {
    position: absolute;
    left: 70.5%;
    top: 54%;
}

.wrapper .content .content-middle .room .container .room-arrow i:hover {
    cursor: pointer;
    background-color: #e4e6eb;
}

.wrapper .content .content-middle .room .container .room-arrow i {
    border: 1px solid silver;
    border-radius: 50%;
    padding: 15px 20px;
    color: #606770;
}

.wrapper .content .content-middle .room .container .btn-room:hover {
    background-color: #e4e6eb;
    cursor: pointer;
}

.wrapper .content .content-middle .room .container .btn-room .title {
    color: #287de0;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
    padding-top: 2px;
}

.wrapper .content .content-middle .room .container img {
    margin-left: 19px;
}

.wrapper .content .content-middle .room .container img:hover {
    cursor: pointer;
}

.wrapper .content .content-middle .post {
    padding: 0px 25px;
    padding-top: 20px;
}

.wrapper .content .content-middle .post .container {
    background-color: white;
    box-shadow: 0 5px 8px -9px rgb(0 0 0 / 75%);
    border-radius: 10px;
}

.wrapper .content .content-middle .post .container .post-title {
    display: flex;
    justify-content: space-between;
}

.wrapper .content .content-middle .post .container .post-title .title-avt {
    display: flex;
}


.wrapper .content .content-middle .post .container .post-title .title-info {
    padding: 15px;
}

.wrapper .content .content-middle .post .container .post-title .title-info .name {
    padding: 5px;
    margin-left: 5px;
}

.wrapper .content .content-middle .post .container .post-title .title-info .name .primary {
    font-size: 15px;
    font-weight: 600;
}

.wrapper .content .content-middle .post .container .post-title .title-info .name .sub {
    font-size: 13px;
    color: #65676b;
}

.wrapper .content .content-middle .post .container .post-title .title-info .name .primary:hover,
.wrapper .content .content-middle .post .container .post-title .title-info .name .sub:hover {
    cursor: pointer;
    text-decoration: underline;
}

.wrapper .content .content-middle .post .container .post-title .title-option {
    padding: 15px;
}

.wrapper .content .content-middle .post .container .post-title .title-option i {
    font-size: 18px;
    color: #65676b;
    padding: 10px;
    border-radius: 50%;
}

.wrapper .content .content-middle .post .container .post-title .title-option i:hover {
    background-color: #e4e6eb;
    cursor: pointer;
}

.wrapper .content .content-middle .post .container .post-content {
    padding: 0 15px;
}

.wrapper .content .content-middle .post .container .post-content p {
    margin: 0;
}

.wrapper .content .content-middle .post .container .post-tag {
    padding: 15px;
}

.wrapper .content .content-middle .post .container .post-tag a {
    color: #1877F2;
    text-decoration: none;
}

.wrapper .content .content-middle .post .container .post-tag a:hover {
    text-decoration: underline;
}

.wrapper .content .content-middle .post .container .post-img img {
    width: 100%;
    display: block;
}

.wrapper .content .content-middle .post .container .post-info {
    display: flex;
    justify-content: space-between;
}

.wrapper .content .content-middle .post .container .post-info .info-left,
.wrapper .content .content-middle .post .container .post-info .info-right {
    display: flex;
    font-size: 15px;
    color: #65676b;
    padding: 15px;
}

.wrapper .content .content-middle .post .container .post-info .number {
    margin-left: 5px;
}

.wrapper .content .content-middle .post .container .post-info .number:hover {
    cursor: pointer;
    text-decoration: underline;
}

.wrapper .content .content-middle .post .container .post-btn {
    padding: 0 15px;
}

.wrapper .content .content-middle .post .container .post-btn .button {
    display: flex;
    padding: 5px 0px;
    border-top: 1px solid silver;
    justify-content: space-between;
}

.wrapper .content .content-middle .post .container .post-btn .button .btn-like,
.wrapper .content .content-middle .post .container .post-btn .button .btn-cmt,
.wrapper .content .content-middle .post .container .post-btn .button .btn-share {
    display: flex;
    padding: 10px 70px;
    border-radius: 5px;
}

.wrapper .content .content-middle .post .container .post-btn .button .btn-like:hover,
.wrapper .content .content-middle .post .container .post-btn .button .btn-cmt:hover,
.wrapper .content .content-middle .post .container .post-btn .button .btn-share:hover {
    background-color: #e4e6eb;
    cursor: pointer;
}

.wrapper .content .content-middle .post .container .post-btn .button .btn-name {
    margin-left: 5px;
}

.wrapper .content .content-middle .post .container .post-btn .button .btn-like i {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/w41FOqOOxdR.png);
    background-position: 0px -322px;
    background-size: auto;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    display: inline-block;
}

.wrapper .content .content-middle .post .container .post-btn .button .btn-cmt i {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/w41FOqOOxdR.png);
    background-position: 0px -284px;
    background-size: auto;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    display: inline-block;
}

.wrapper .content .content-middle .post .container .post-btn .button .btn-share i {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/w41FOqOOxdR.png);
    background-position: 0px -341px;
    background-size: auto;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    display: inline-block;
}

/* Content Right */
.wrapper .content .content-right {
    width: 23.5%;
    position: fixed;
    right: 0;
}
