body {
    margin: 0;
    font-family: system-ui;
}

.wrapper {
    background-color: #F0F2F5;
}

/* Header */
.wrapper .header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

/* Header Left */
.wrapper .header .header-left {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 10px;
}

.wrapper .header .header-left .search {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 11px 31px;
    margin-left: 5px;
    border-radius: 999px;
}

.wrapper .header .header-left .search .icon-search {
    position: absolute;
    left: 11px;
    top: 11px;
}

.wrapper .header .header-left .search .icon-search object {
    width: 18px;
    height: 18px;
}

.wrapper .header .header-left .search .icon-search object svg {
    fill: #606770 !important;
}

.wrapper .header .header-left .search input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.wrapper .header .header-left .search input::placeholder {
    font-size: 14px;
    color: #606770;
}

/* Header Middle */
.wrapper .header .header-middle {
    width: 60%;
    display: flex;
    flex: 1;
    justify-content: center;
}

.wrapper .header .header-middle .main-menu {
    display: flex;
    align-items: center;
    padding: 0 5px;
    cursor: pointer;
}

.wrapper .header .header-middle .main-menu a {
    color: #606770;
    padding: 11px 52px;
}

.wrapper .header .header-middle .main-menu a:hover {
    border-radius: 7px;
    background-color: #e4e6eb;
}

.wrapper .header .header-middle .main-menu .affter-active {
    display: none;
}

.wrapper .header .header-middle .active {
    border-bottom: 4px solid #1877F2;
}

.wrapper .header .header-middle .active a {
    color: #1877F2;
}

.wrapper .header .header-middle .active a:hover {
    background-color: white;
}

.wrapper .header .header-middle .active .before-active {
    display: none;
}

.wrapper .header .header-middle .active .affter-active {
    display: block;
}

/* Header Right */
.wrapper .header .header-right {
    width: 20%;
    display: flex;
    justify-content: end;
}

.wrapper .header .header-right .right-menu {
    padding: 7px 5px;
}

.wrapper .header .header-right .right-menu:hover {
    cursor: pointer;
}

.wrapper .header .header-right .right-menu .icon-right {
    border-radius: 50%;
    padding: 7px 10px;
    background-color: #e4e6eb;
}

.wrapper .header .header-right .right-menu .icon-right:hover {
    background-color: #dadbdd;
}

.wrapper .header .header-right .active {
    color: #1877F2; 
}

.wrapper .header .header-right .active .icon-right {
    background-color: #e5f1fd;
}

/* Content */
.wrapper .content {
    display: flex;
    justify-content: space-between;
}

/* Content-left */
.wrapper .content .content-left {
    width: 20%;
}

.wrapper .content .content-left .access ul,
.wrapper .content .content-left .shortcuts ul {
    list-style: none;
    padding: 10px 8px;
    margin: 0;
}

.wrapper .content .content-left .access ul li,
.wrapper .content .content-left .shortcuts ul li {
    display: flex;
    padding: 11px 7px;
    font-family: system-ui;
    font-weight: 500;
    font-size: 15px;
    word-wrap: break-word;
    width: 100%;
}

.wrapper .content .content-left .access ul li:hover,
.wrapper .content .content-left .shortcuts ul li:hover {
    cursor: pointer;
    background-color: #e4e6eb;
    border-radius: 10px;
}

.wrapper .content .content-left .access ul li .title,
.wrapper .content .content-left .shortcuts ul li .title {
    padding: 3px 13px;
}

.wrapper .content .content-left .access ul li .arrow,
.wrapper .content .content-left .shortcuts ul li .arrow {
    background-color: #e4e6eb;
    padding: 4px 8px;
    border-radius: 50%;
}

.wrapper .content .content-left .access ul .border-access {
    border-bottom: 1px solid silver;
    padding: 5px 0px;
}

.wrapper .content .content-left .access ul .border-access:hover {
    cursor: none;
    background-color: #F0F2F5;
    border-radius: 0px;
}


.wrapper .content .content-left .access ul .access-more,
.wrapper .content .content-left .access ul #btn-less {
    display: none;
}

.wrapper .content .content-left .access ul .access-more.active {
    display: flex;
}

.wrapper .content .content-left .shortcuts .name-tag {
    display: flex;
    justify-content: space-between;
}

.wrapper .content .content-left .shortcuts .name-tag h3 {
    padding-left: 15px;
    margin: 0;
    font-size: 1.0625rem;
    color: #65676b;
    font-weight: 600;
    padding: 10px 15px;
}

.wrapper .content .content-left .shortcuts .name-tag a {
    padding: 10px 10px;
    text-decoration: none;
    color: #1877F2;
    display: none;
}

.wrapper .content .content-left .shortcuts .name-tag a:hover {
    background-color: #e4e6eb;
    border-radius: 5px;
}

.wrapper .content .content-left .shortcuts ul li img {
    border-radius: 5px;
}